@model WebApiBlog.ViewModels.LoginModel

<div class="container-fluid">
    <div class="row-fluid">
        <h1>Secure Web API (/api/secureapi)</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="contacts-container">
                
            </tbody>
        </table>
    </div>
    <div class="row-fluid">
        <div class="span6">
            @{ Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horziontal" });}
            <fieldset>
                <legend>Login to access secure API</legend>
                <div class="control-group">
                    @Html.LabelFor(x => x.Username)
                    @Html.TextBoxFor(x => x.Username)
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.TextBoxFor(x => x.Password)
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Log In" />
                </div>
            </fieldset>
            @{ Html.EndForm(); }
        </div>
        <div class="span6">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Add new a contact</legend>
                    <div class="control-group">
                        @Html.Label("Name")
                        @Html.TextBox("name")
                    </div>
                    <div class="control-group">
                        @Html.Label("Email")
                        @Html.TextBox("email")
                    </div>
                    <div class="form-actions">
                        <a href="#" class="btn btn-success btn-add">Add new contact</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/handlebars.js"></script>

    <script type="text/javascript">

        function Contact() {
            var compiledTemplate = undefined;

            this.getAll = function() {
                var result = callApi("/api/securecontact/", "GET", {});
                if (result == undefined) {
                    return;
                }
                
                $(".contacts-container").empty();
                $.each(result, function (index, contact) {
                    appendContact(contact);
                });
            };

            this.delete = function(id) {
                callApi("/api/securecontact/" + id, "DELETE", {  });
            };

            this.create = function (data) {
                callApi("/api/securecontact/", "POST", data);
            };

            var callApi = function(url, method, data) {
                var result = undefined;
                $.ajax({
                    async: false,
                    url: url,
                    type: method,
                    data: data,
                    dataType: "json",
                }).done(function(data) {
                    result = data;
                }).fail(function (data) {
                    alert(method + " " + url + " - " + data.status + ": " + data.statusText);
                });
                return result;
            };

            var appendContact = function (contact) {
                var template = getTemplate();
                $(".contacts-container").append(template(contact));
            };

            var getTemplate = function() {
                if (compiledTemplate == undefined) {
                    var source = $("#contact-template").html();
                    compiledTemplate = Handlebars.compile(source);
                }
                return compiledTemplate;
            };
        };

        var contactManager = new Contact();
        
        $(function() {
            contactManager.getAll();
            $(".contacts-container").on("click", "a.btn-delete", function () {
                contactManager.delete($(this).attr("data-id"));
                contactManager.getAll();
            });
            $(".btn-add").bind("click", function() {
                contactManager.create($("form").serialize());
                contactManager.getAll();
            });
        });
    </script>
    
    <script id="contact-template" type="text/x-handlebars-template">
        <tr>
            <td>{{Id}}</td>
            <td>{{Name}}</td>
            <td>{{Email}}</td>
            <td>
                <a data-id="{{Id}}" class="btn btn-info btn-qr" href="/api/contact/{{Id}}.png" target="_blank">QR<a/>
                <a data-id="{{Id}}" class="btn btn-danger btn-delete" href="#">Delete<a/>
            </td>
        </tr>
    </script>
}